KIRO_BRIDGE_API_KEY=change-me
KIRO_BRIDGE_PORT=11435
KIRO_BRIDGE_CWD=.
KIRO_CLI_PATH=kiro-cli
KIRO_BRIDGE_AGENT=kiro-bridge
KIRO_BRIDGE_SESSION_MODE=per_request
KIRO_BRIDGE_MAX_BODY=1048576
KIRO_BRIDGE_CONTEXT_WINDOW=218000
# KIRO_BRIDGE_VERBOSE=1
# KIRO_BRIDGE_SHOW_TOOLS=1
# KIRO_BRIDGE_ALL_IP=1
